.explore .explore-container {
    border-radius: 0px;
}

/* search section */

.explore .explore-container .search-section .text {
    border-radius: 0px;
}

.explore .explore-container .search-section .search-section-drop-down button {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    color: #000;
    border: 1px solid #dee2e6;
    text-align: right;
}
.explore .explore-container .search-section .search-section-search-btn {
    display: inline-block;
    width: 100%;
    border-radius: 0px;
}

.explore .explore-container .explore-card .explore-card-img {
    height: 150px;
    border-radius: 15px;
    background: #D9D9D9;
}

.explore .explore-container .explore-card .instructor {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore .explore-container .explore-card .instructor .instructor-img {
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 50%;
}

.explore .explore-container .explore-card .instructor .instructor-name {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
}

.explore .explore-container .explore-card .title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.explore .explore-container .explore-card .paragraph {
    font-size: 15px;
    font-weight: 400;
}

.explore .explore-container .explore-card .ranking {
    font-size: 15px;
}




